{{define "content"}}
<link rel="stylesheet" href="/public/css/main.css">
<main>
    <section>
        <img src="/public/img/Welcome.png" alt="">
        <article>
            <h1>Welcome to Solong!</h1>
            <h2>What is Solong ?</h2>
            <p>
                Solong is a Go project using Youtube API to stream music for free!<br>
                You can enjoy Solong for free without making an account.
            </p>
            <a href="/home"><button>Launch</button></a>
        </article>
    </section>
</main>
{{end}}