{{define "head"}}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Solong">
<link rel="shortcut icon" href="/public/img/SolongColoredLogo.png" type="image/x-icon">
<link rel="stylesheet" href="/public/css/style.css">
{{end}}

{{define "header"}}
<header>
    <a href="/" id="logo"><img src="/public/img/SolongWhite.png" alt=""></a>
    <nav>
        <ul>
            <li><a href="/home">Listen</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Happy!</a></li>
        </ul>
    </nav>
    <hr>
    <div id="profil">
        <img src="/public/img/SolongColoredLogo.png" alt="Profil picture">
        <a href="/account">Profil</a>
    </div>
</header>
{{end}}

{{define "footer"}}
<footer>
    <p>Copyright &copy; 2022 Solong - All Rights Reserved</p>
</footer>
{{end}}